<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="search">

    <form action="/docent/list" method="get" class="actionForm">

        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
        <div class="input-group" >
            <div class="input-group-prepend">
                <div style="float: left;width: 30%">
                    <select class="form-select" name="type"  >
                        <option value="t" th:selected="${pageRequestDTO.type =='t'}">이름</option>
                        <option value="c" th:selected="${pageRequestDTO.type =='c'}">지역</option>
                        <option value="w" th:selected="${pageRequestDTO.type =='w'}">설명</option>
                    </select>
                </div>
                <div id="search" style="float: left;width: 70%; padding-bottom: 10px" >
                    <input type="text" class="form-control" name="keyword" placeholder="Search.."
                           th:value="${pageRequestDTO.keyword}">
                </div>
                <div class="input-group-append" style="float: right">
                    <button class="button primary icon solid fa-search searchBtn" type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
<section layout:fragment="content">
    <h2>[[${dto.title}]]</h2>
    <h3>[[${dto.classify}]]</h3>
    <div style="width: 50vh; height: 50vh; float:left; margin-right:150px; flex: auto">
        <th:block th:if="${dto.image} != null">
        <img th:src="@{/view/{image}(image = ${dto.image})}" style="flex: auto; height: 50vh; width: 50vh;">
        </th:block>
        <th:block th:if="${dto.image} == null">
            <img th:src="@{/defaultImage?fileName=no_image.jpg}" style="flex: content; height: 50vh; width: 50vh">
        </th:block>
    </div>
    <div id="map" style="width:50vh;height:50vh; float:left; flex: auto"></div>
    <div style="clear:both; padding-bottom: 100px">

    </div>
    <div style="float: bottom">
        <audio controls>
            <source th:src="@{/audio/{audio}(audio = ${dto.audio})}" type="audio/mpeg" style="float: bottom">
            오디오를 지원하지 않는 브라우저입니다.
        </audio>
    </div>
    <div class="box">
        <span style="width: auto; height: auto;white-space: pre-line">[[${dto.introduce}]]</span>
    </div>
</section>


<script layout:fragment="script" th:inline="javascript">
    (function (d, m) {
        var kommunicateSettings =
            {"appId": "202167a7f56e0db29364f2264282ebb0", "popupWidget": true, "automaticChatOpenOnNavigation": true};
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0];
        h.appendChild(s);
        window.kommunicate = m;
        m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */


    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.5599595, 126.975317), // 지도의 중심좌표
            level: 3// 지도의 확대 레벨
        };
    /*<![CDATA[*/
    var searchLocation = '[[${dto.location}]]'

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(searchLocation, function (result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">[[${dto.location}]]</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }

    });
    /*]]*/
</script>