<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<div layout:fragment="search">

    <form action="/docent/userBoard" method="get" class="actionForm">

        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
        <div class="input-group">
            <div class="input-group-prepend" >
                <div style="float: left;width: 30%">
                <select class="form-select" name="type">
                    <option value="t" th:selected="${pageRequestDTO.type =='t'}">제목</option>
                    <option value="c" th:selected="${pageRequestDTO.type =='c'}">내용</option>
                    <option value="w" th:selected="${pageRequestDTO.type =='w'}">닉네임</option>
                </select>
                </div>
                <div id="search" style="float: left;width: 70%; padding-bottom: 10px">
                    <input type="text" class="form-control" name="keyword" placeholder="Search.."
                           th:value="${pageRequestDTO.keyword}">
                </div>
                <div class="input-group-append" style="float: right">
                    <button class="button primary icon solid fa-search searchBtn" type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>

<section layout:fragment="content">
    <div style="text-align: right">
    <button class="button primary" type="button" onclick="location.href='boardRegister'">글 작성</button>
    </div>
    <h4>게시판</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Title</th>
            <th scope="col">Writer</th>
            <th scope="col">RegDate</th>
        </tr>
        </thead>
        <tbody th:with="link = ${pageRequestDTO.getLink()}">
        <tr th:each="dto:${responseDTO.dtoList}">
            <th scope="row">[[${dto.ubno}]]</th>
            <td>
                <a th:href="|@{/docent/userBoardRead(bno =${dto.ubno})}&${link}|"> [[${dto.title}]]</a>
            </td>
            <td>[[${dto.nickName}]]</td>
            <td>[[${#temporals.format(dto.regDate, 'yyyy-MM-dd')}]]</td>
        </tr>
        </tbody>
    </table>
    <div style="float: bottom; ">
        <ul class="pagination" style="display: flex; flex-flow:row nowrap; justify-content: center" >
            <li class="page-item" th:if="${responseDTO.prev} ">
                <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
            </li>
            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                <li>
                    <a th:class="${responseDTO.page == i}?'page active':'page'" th:data-num="${i}">[[${i}]]</a>
                </li>
            </th:block>

            <li class="page-item" th:if="${responseDTO.next}">
                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
            </li>
        </ul>
    </div>
    <button onclick="topFunction()" id="upBtn" class="fa-solid fa-caret-up"></button>

</section>
<script layout:fragment="script" th:inline="javascript">
    (function (d, m) {
        var kommunicateSettings =
            {"appId": "202167a7f56e0db29364f2264282ebb0", "popupWidget": true, "automaticChatOpenOnNavigation": true};
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0];
        h.appendChild(s);
        window.kommunicate = m;
        m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
    /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (target.tagName !== 'A') {
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector(".actionForm")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit();

    }, false)





    //Get the button:
    mybutton = document.getElementById("upBtn");
    downButton = document.getElementById("downBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>